#dettaglio_prodotto {
    background-color: $primary-color;
    height: 5rem;
    position: relative;

    .img-box {

        img {
            width: 200px;
            height: 300px;
            position: absolute;
            top: -250px;
            left: 300px;
        }
    }
}

#descrizione_prodotto {
    .price {
        background-color: $green;
    }

    h3 {
        font-size: 16px;
    }

    .pubblicità {
        img {
            width: 300px;
        }
    }
}

#more-info {
    background-color: $more_info;

    .row {
        border-color: $border;

        a {
            color: $primary-color;
        }
    }

}

#more-links {
    background-color: $more_info;
    h5{
        opacity: 0.5;
    }
    img{
        width: 2.8125rem;
        filter: invert(15%);
    }
}