#dettaglio_prodotto{
    background-color: $primary-color;
    height: 5rem;
    position: relative;
    .img-box{
    
        img{
            width: 200px;
            height: 300px;
            position: absolute;
            top: -250px;
            left: 300px;
        }
    }
}

#descrizione_prodotto{
    .price{
        background-color: $green;
    }
    h3{
        font-size: 16px;
    }
    .pubblicità{
        img{
            width: 300px;
        }
    }
}

#more-info{
    background-color: $more_info;
    border: 1px solid $border;
    .row{
        border-bottom: 1px solid $border;
    }

}


