
#top_footer{
    background-color: $primary-color;
    img {
        width: 4.375rem;
    }
    a{
        color: $white;
    }
}

#main_footer{
    background-image: url('../img/dc-logo-bg.png'), url('../img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: auto, cover;
    background-position: 80%, 0%;
    color: $text-color;
    h3{
        text-transform: uppercase;
        color: white;
    }
    li{
        a{
            color: $text-color;
        }
    }
}