
#header-top{
    background-color: $primary-color;
    font-size: 12px;
    color: $white;
}
nav{
    a{
        color: black;
    }
}
.search{
    border-bottom: 2px solid $primary-color;
}

#jumbo{
    height: 25rem;
    background-image: url('../img/jumbotron.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}